body {
    background-color: #0f173a;
    background-image: url(https://i.imgur.com/LDIYK5F.jpg);
}

.Title {
    color: #ffffff;
    text-align: center;
}

.box {
    height: 100px;
    width: 200px;
    margin-left: 50%;
    margin-right: 50%;
}

.header {
    display: inline;
    color: #3c65bd;
    margin-left: 70px;
    margin-right: 70px;
}

.main {
    padding: 60px 0;
    text-align: center;
}

.search {
    padding: 10px 0;
    text-align: center;
    opacity: 100%;
}

.Proton {
    position: fixed;
    top: 240px;
    right: 1287px;
    width: 100px;
}

.Gmail {
    position: fixed;
    top: 300px;
    right: 1287px;
    width: 100px;
}

.Yahoo {
    position: fixed;
    top: 360px;
    right: 1287px;
    width: 100px;
}

.Discord {
    position: fixed;
    top: 240px;
    right: 1053px;
    width: 100px;
}

.Signal {
    position: fixed;
    top: 300px;
    right: 1053px;
    width: 100px;
}

.Reddit {
    position: fixed;
    top: 360px;
    right: 1053px;
    width: 100px;
}

.Twitter {
    position: fixed;
    top: 420px;
    right: 1053px;
    width: 100px;
}

.YouTube {
    position: fixed;
    top: 240px;
    right: 763px;
    width: 100px;
}

.Twitch {
    position: fixed;
    top: 300px;
    right: 763px;
    width: 100px;
}

.Spotify {
    position: fixed;
    top: 360px;
    right: 763px;
    width: 100px;
}

.Netflix {
    position: fixed;
    top: 420px;
    right: 763px;
    width: 100px;
}

.GitHub {
    position: fixed;
    top: 240px;
    right: 478px;
    width: 100px;
}

.StackOverflow {
    position: fixed;
    top: 300px;
    right: 478px;
    width: 100px;
}

.TryHackMe {
    position: fixed;
    top: 360px;
    right: 478px;
    width: 100px;
}

.HackTheBox {
    position: fixed;
    top: 420px;
    right: 478px;
    width: 100px;
}

.ExploitDB {
    position: fixed;
    top: 480px;
    right: 478px;
    width: 100px;
}

.HexPicker {
    position: fixed;
    top: 540px;
    right: 478px;
    width: 100px;
}

.Imgur {
    position: fixed;
    top: 600px;
    right: 478px;
    width: 100px;
}



/* unvisited link */
a:link {
    color: #3c65bd;
    background-color: #1f335e;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  /* visited link */
  a:visited {
    color: #3c65bd;
    background-color: #1f335e;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  /* mouse over link */
  a:hover {
    color: #7fa4f3;
  }
  
  /* selected link */
  a:active {
    color: #ffffff;
  }
